.category-card {
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.category-card .card-header {
  background-color: #0a5071;
  color: #fff;
}

.category-table {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.category-table th {
  background-color: #f5f5f5;
}

.category-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.category-submit {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-submit:hover {
  background-color: rgb(7, 128, 9);
}
